  <div id="corpo">  
    <body>
    <div id="login">

        <h3 class="text-center text-white pt-5">Login form</h3>
        <div *ngIf="estaCarregando">
            <!-- <app-loading-spinner></app-loading-spinner> -->
        </div>

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">

                        <form #autenticaForm="ngForm" (ngSubmit)="onSubmit(autenticaForm)" *ngIf="!estaCarregando"
                            class="form">
                            <h3 class="text-center text-info mt-3">Login</h3>
                            <div class="form-group m-3">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control mt-1" id="email" name="email" ngModel email required
                                    #email="ngModel">
                            </div>
                            <div class="alert alert-danger m-3" *ngIf="!email.valid && email.touched">
                                E-mail é obrigatório.
                            </div>
                         


                            <div class="form-group m-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" ngModel
                                    minlength="6" required #password="ngModel">
                            </div>

                            <div class="alert alert-danger m-3" *ngIf="!password.valid && password.touched">
                                Senha é obrigatorio.
                            </div>
                            <div class="alert alert-danger m-3" *ngIf="erro">{{ erro }}</div>
                            <div class="form-group m-3">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input
                                            id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <button class="btn btn-info btn-md mt-3" type="submit"
                                    [disabled]="!autenticaForm.valid">{{modoLogin ? 'Login' : 'inscrever-se'}}</button>

                            </div>


                            

                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</body>   
  </div>          