<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="corpo">
  <form [formGroup]="pesoForm" (ngSubmit)="adicionarPeso()" class="m-3" #formSuino="ngForm">
    <div class="form-group mt-3">
      <label for="peso" class="form-group mt-3">Peso do Animal:</label>
      <input type="string" id="peso" formControlName="peso" class="form-control" required>
      <div class="alert alert-danger" *ngIf="!peso?.valid && formSuino.touched">
        <p *ngIf="peso?.errors?.['required']">Peso é obrigatorio</p>
        <p *ngIf="peso?.errors?.['pattern']">Apenas números são permitidos</p>
      </div>
    </div>


    <div class="form-group mt-3">
      <label for="dataPeso">Data da pesagem:</label>
      <input type="date" id="dataPeso" formControlName="dataPeso" class="form-control">
      <div class="alert alert-danger" *ngIf="!peso?.valid && formSuino.touched">
        <p *ngIf="dataPeso?.errors?.['required']">Data é obrigatório</p>
      </div>
    </div>


    <button type="submit" class="btn btn-dark mt-3">Cadastrar</button>
  </form>
</div>
