<nav class="navbar navbar-expand-lg navbar-dark bg-dark " *ngIf="estaAutenticado">
  <a class="navbar-brand  w-25 " style="margin-left: 15px;" id="logo" href="#"routerLink="/listarSuinos">Suino Cultura</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100 align-items-center">

      <li class="nav-item me-2">
        <a routerLink="/listarSuinos" routerLinkActive="active" class="nav-link " *ngIf="estaAutenticado">Home</a>
      </li>

      <li class="nav-item me-2">
        <a routerLink="/adicionarSuinos" routerLinkActive="active" class="nav-link" *ngIf="estaAutenticado">Adicionar
          Suino</a>
      </li>
      <li class="nav-item me-2">
        <a routerLink="/listarSuinos" routerLinkActive="active" class="nav-link" *ngIf="estaAutenticado">Listar
          Suino</a>
      </li>
      <li class="nav-item me-2">
        <a routerLink="/contato" routerLinkActive="active" class="nav-link" *ngIf="estaAutenticado">Contato</a>
      </li>

      <li class="nav-item me-2 " *ngIf="estaAutenticado">
        <a class="nav-link " (click)="logout()" style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="!estaAutenticado">
  <a class="navbar-brand w-25" style="margin-left: 15px;" id="logo" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100 align-items-center">
      <li class="nav-item me-2">
        <a routerLink="/adicionarSuinos" class="nav-link">Adicionar Suíno</a>
      </li>
      <li class="nav-item me-2">
        <a routerLink="/listarSuinos" class="nav-link">Listar Suínos</a>
      </li>
      <li class="nav-item me-2">
        <a routerLink="/adicionaPeca" class="nav-link">Adicionar Peça</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </div>
</nav>
